---
layout: default
title: Damn It Alex - Good Job
---

<div class="container">
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    {% for post in site.posts %}
      {% if forloop.first %}
        {% assign altclass = 'active' %}
      {% else %}
        {% assign altclass = '' %}
      {% endif %}
      <div class="item {{ altclass }}">
        <img src="{{ post.image }}" alt="{{post.title}}">
        <div class="carousel-caption">
          <h1>{{ post.title }}</h1>
          <p class="lead">{{ post.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
